@import '../../scss/mixins.scss';

.header {
  background-color: var(--black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include section_container;
  height: 80px;
}

.logo {
  font-weight: 300;
  font-size: 36px;
  line-height: 120%;
  color: var(--white);
}

.nav {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;

    a {
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: var(--white);

      &:first-child {
        background-image: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:not(:last-child) {
        margin: 0 35px 0 0;
      }
    }
  }
}

.burger {
  display: flex;

  @media (min-width: 1440px) {
    display: none;
  }

  svg {
    line {
      transition: all 0.3s ease;
    }
  }

  &:hover {
    svg {
      line {
        &:first-child {
          transform: translateY(2px);
        }
        &:last-child {
          transform: translateY(-2px);
        }
      }
    }
  }
}
