@import '../../scss/mixins.scss';

.team {
  background-color: var(--black);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include section_container;
  height: 100vh;
}

.back {
  margin: 0 0 20px 0;
  width: max-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.title {
  margin: 0 0 40px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: var(--white);
}

.collums {
  display: flex;
  justify-content: space-between;
}

.direction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 60px;
  border-radius: 10px;
  background: var(--white);
}

.direction__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cards {
  display: flex;
  flex-direction: column;
}
