@import '../../scss/mixins.scss';

.prod {
  background-color: var(--black);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include section_container;
}

.offset {
  @include offset;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--white);
}

.description {
  margin: 10px 0 0 0;
  width: max-content;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  background-image: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
