@import '../../../scss/mixins.scss';

.hero {
  background: url('../../../assets/img/background-hero-top.png') var(--black) no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include section_container;
  height: 915px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--white);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.text {
  margin: 30px 0 30px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--gray);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 65px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: var(--white);
  background: var(--gradient);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translate(0);
  }

  &:focus-visible {
    transform: translateY(-5px);
  }
}
