@import '../../../scss/mixins.scss';

.hero {
  background-color: var(--black);

  @media (min-width: 768px) {
    background: url('../../../assets/img/background-hero.svg') center center var(--black) no-repeat;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include section_container;
  height: 400px;

  @media (min-width: 768px) {
    align-items: center;
    height: 700px;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: var(--white);

  @media (min-width: 768px) {
    font-size: 64px;
  }
}

.text {
  margin: 20px 0 40px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray);

  @media (min-width: 768px) {
    margin: 30px 0 30px 0;
    font-size: 24px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: var(--white);
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    width: 220px;
    height: 65px;
  }

  span {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--white);
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translate(0);
  }

  &:focus-visible {
    transform: translateY(-5px);
  }
}
