@import '../../../scss/mixins.scss';

.prod {
  background: linear-gradient(180deg, #bde0fe 0%, #a2d2ff 100%);
}

.container {
  @include section_container;
}

.offset {
  @include offset;
}

.title {
  margin: 0 0 20px 0;
  @include section_title;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  margin: 0 0 30px 0;
}
