@import '../../../scss/mixins.scss';

.prod {
  background: url('../../../assets/img/background-home.svg') center center var(--black) no-repeat;
}

.container {
  @include section_container;
}

.offset {
  @include offset;
}

.title {
  margin: 0 0 30px 0;
  @include section_title;
}

.cards {
  display: flex;
  justify-content: space-between;
}
