@import '../../../scss/mixins.scss';

.beats {
  background: url('../../../assets/img/background-beats.png'), var(--black) no-repeat;
  background-size: cover;
}

.container {
  @include section_container;
  height: 765px;
}

.offset {
  @include offset;
}

.title {
  margin: 0 0 20px 0;
  @include section_title;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
