@import '../../../scss/mixins.scss';

.beats {
  background-color: var(--black);
}

.container {
  @include section_container;
}

.offset {
  @include offset;
}

.title {
  margin: 0 0 30px 0;
  @include section_title;
}

.cards {
  display: flex;
  justify-content: space-between;
}
