@mixin section_container {
  margin: 0 auto;
  max-width: 280px;

  @media (min-width: 768px) {
    max-width: 540px;
  }

  @media (min-width: 1024px) {
    max-width: 824px;
  }

  @media (min-width: 1440px) {
    max-width: 1200px;
  }

  @content;
}

@mixin offset {
  padding: 60px 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }

  @media (min-width: 1024px) {
    padding: 90px 0;
  }

  @media (min-width: 1440px) {
    padding: 90px 0;
  }
}

@mixin section_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: var(--white);
}
