:root {
  --black: #080808;
  --white: #ffffff;
  --gray: #999999;
  --gradient: linear-gradient(93.3deg, #cc00ff 0%, #00e0ff 100%);
  --gradient-price: linear-gradient(93.3deg, #cc00ff 0%, #00e0ff 36.46%);
}
